div.dokuwiki div.qna-block {
    margin-bottom: 1em;
}

div.dokuwiki div.qna-question {
    padding: 0.5em 1em 0.3em 2em;
    background-color: __background_other__;
    background-image: url(images/question.png);
    background-repeat: no-repeat;
    background-position: top left;
}

div.dokuwiki div.qna-title {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 0.5em;
}

div.dokuwiki div.qna-title a {
    text-decoration: none;
}

div.dokuwiki div.qna-answer {
    border-top: 1px dashed __border__;
    padding: 1em 1em 0.1em 2em;
    background-color: __background_other__;
    background-image: url(images/answer.png);
    background-repeat: no-repeat;
    background-position: top left;
}
